@import "module-variables";

// Overall module styles
@include overall_module() {
    $header_color: rgb(30, 44, 50);
    $background-color: #f4f4f4;

    padding: 46px 0 54px 0;
    h3 {
        color: $header-color;
    }
    p {
        color: #111;
    }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
    background-color: get('backgroundColor');
}