@import "module-variables";

// Overall module styles
@include overall_module() {
  $background-color: #f4f4f4;

  padding: 46px 0 54px 0;
  .wrapper {
    h3 {
      margin-bottom: 10px;
    }
    p {
      color: #111;
    }
  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');
  .wrapper{
    h3{
      color: get('titleColor');
    }
  }
}