@import "module-variables";

// Overall module styles
@include overall_module() {

  $header-color: #1e2c32;
  padding: 15px 0;
  #in-the-media {
    text-align: center;
    padding-top: 10px;
    h4 {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-family: 'Roboto Condensed', sans-serif;
      color: $header-color;
      padding-bottom: 40px;
    }

  }
  .image-container {
    align-content: center;
    align-items: center;
    flex-direction: row;
    .media-image {
      max-width: 24%;
      padding: 30px;
      width:auto;
      @include media-breakpoint-down(md){
        max-width: 32%;
      }
      @include media-breakpoint-down(xs){
        max-width: 285px;
      }
    }
    a {
      .media-image{
        -webkit-filter: grayscale(100%);
        display: inline-flex;
        filter: grayscale(100%);
        opacity: 0.5;
        @include transition(0.5s all);
      }
      &:hover {
        text-decoration: none;
        .media-image{
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          opacity: 1;
        }
      }
    }

  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('background');
  #in-the-media {
    background-color:get('background');
    h4{
      color:get('titleColor');
      font-size:get('titleSize');
    }
  }
}