@import "module-variables";

// Overall module styles
@include overall_module() {

  $header-color: #1e2c32;
  padding: 15px 0;
  #in-the-media {
    text-align: center;
    h4 {
      letter-spacing: 5px;
      margin-bottom: 0;
      color: $header-color;
      //padding-bottom: 40px;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;;

      @include media-breakpoint-down(sm) {
        padding-bottom: 25px;
      }
    }
  }
  .image-container {
    align-content: center;
    align-items: center;
    flex-direction: row;
    .media-image {
      max-width: 24%;
      padding: 5px;
      width:auto;
      object-fit: contain;
      max-height: 160px;
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
        float: left;
      }
      @include media-breakpoint-down(md){
        max-width: 32%;
      }
      @include media-breakpoint-down(xs){
        max-width: 285px;
      }
    }
    a {
      .media-image{
        display: inline-flex;
        @include transition(0.5s all);
      }
      &:hover {
        text-decoration: none;
      }
    }

  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('background');
  #in-the-media {
    background-color:get('background');
    h4{
      color:get('titleColor');
      font-size:get('titleSize');
    }
  }
  $greyScale: get('imageGreyScale');
  .image-container {
    a {
      .media-image{
        @if (type-of($greyScale) == 'number') {
          -webkit-filter: grayscale($greyScale);
          filter: grayscale($greyScale);
        }
        opacity: get('logosOpacity');

      }
      &:hover {
        .media-image{
          @if (type-of($greyScale) == 'number') {
            -webkit-filter: grayscale($greyScale);
            filter: grayscale($greyScale);
          }
          opacity: get('logosHoverOpacity');
        }
      }
    }
  }
}