@import "module-variables";

// Overall module styles
@include overall_module() {
  overflow: hidden;

  $button_background_color: #56C1A3;
  $button-font-color: #002841;
  $header-color: #002842;

  .banner-with-download-button {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
    h4 {
      margin: auto;
      padding-bottom: 30px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 400;
      letter-spacing: 5px;
      color: $header-color;
    }
    p {
      font-family: 'Merriweather', serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      padding-bottom: 30px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .magnifier-icon {
      text-align: center;
      padding-bottom: 30px;

      svg, img {
        height: 89px;
        width: 159px;
        @include transition(300ms all);

        path, polygon, circle {
          fill: #56C1A3;
        }
      }
    }
    .download-button {
      display: inline-block;
      padding: 13px 22px;
      background-color: $button_background_color;
      color: $button-font-color;
      font-family: 'Roboto Condensed', sans-serif;
      letter-spacing: 3px;
      text-decoration: none;
      border-radius: 3px;
      margin: 5px 10px;
      border: 1px solid $button_background_color;
      .download-icon {
        height: 18px;
        width: 18px;
        margin-right: 10px;
        top: 3px;
        position: relative;
      }
      span {
        text-transform: uppercase;
      }
      @media print {
        display: none;
      }
    }
  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');
  .banner-with-download-button {
    h4 {
      color: get('titleColor');
      font-size: get('titleSize');
    }
    p {
      color: get('descriptionColor');
      font-size: get('descriptionSize');
    }

    .magnifier-icon {
      text-align: center;
      padding-bottom: 30px;

      svg, img {
        height: 89px;
        width: 159px;
        path, polygon, circle {
          fill: get('iconColor');
          stroke: get('iconColor');
        }
        &:hover {
          path, polygon, circle {
            fill: get('iconColorHover');
            stroke: get('iconColorHover');
          }
        }
      }
    }

    .download-button {
      color: get('buttonTextColor');
      background: get('buttonBackgroundColor');
      @include transition(300ms all);
      svg {
        @include transition(300ms all);
        path, polygon {
          @include transition(300ms all);
          fill: get('buttonTextColor');
          stroke: get('buttonTextColor');

        }
      }
      &:hover {
        color: get('buttonTextColorHover');
        background: get('buttonBackgroundColorHover');
        border-color: get('buttonTextColorHover');
        svg {
          path, polygon {
            fill: get('buttonTextColorHover');
            stroke: get('buttonTextColorHover');
          }
        }
      }
    }
  }
}