@import "module-variables";

// Overall module styles
@include overall_module() {

    $button_background_color: #56C1A3;
    $button-font-color: #002841;
    $header-color: #002842;

    #banner-with-download-button {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        h4 {
            margin: auto;
            padding-bottom: 22px;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400;
            letter-spacing: 5px;
            color: $header-color;
            text-transform: uppercase;
        }
        p {
            font-family: 'Merriweather', serif;
            font-size: 14px;
            line-height: 24px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        #magnifier-icon {
            text-align: center;
            padding-bottom: 30px;
            img {
                height: 89px;
                width: 159px;
            }
        }
        #download-button {
            padding: 13px 22px;
            background-color: $button_background_color;
            border: none;
            color: $button-font-color;
            font-family: 'Roboto Condensed', sans-serif;
            letter-spacing: 3px;
            text-decoration: none;
            border-radius: 3px;
            #download-icon {
                height: 17px;
                width: 18px;
                margin-right: 10px;
            }
            span {
                text-transform: uppercase;
            }
        }
    }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
    background-color: get('backgroundColor');
}