// This file is used only for import other partials. Do not add anything else here.
// Pagebox theme configuration
@import "theme-config";
// Bourbon (http://bourbon.io)
@import "vendor/bourbon/bourbon";
// Register global mixins (pagebox tools)
@import "mixins/utils";
// Bootstrap mixins
@import "vendor/bootstrap/mixins/breakpoints";
@import "mixins/bootstrap-backward";
// Register partials
@import "partials/header";
@import "partials/search";
@import "partials/footer";
@import "partials/utils";
@import "partials/page404";

// Modal
//@import "partials/modal";

.button {
  padding: 11.5px 43px;
  margin-top: 10px ;
  background-color: #56C1A3;
  display: inline-block;
  margin-bottom: 15px;
  color: #002841;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s all;
  border: 1px solid #56C1A3;
  &:hover {
    text-decoration: none;
    background: transparent;
    color: #56C1A3;
    border-color: #56C1A3;
  }
}

.md-padd-top {
  @include media-breakpoint-down(md) {
    padding-top: 35px;
  }
}
.md-padd-bottom {
  @include media-breakpoint-down(md) {
    padding-bottom: 60px;
  }
}

#wpadminbar {
  top: auto !important;
  bottom: 0;
  opacity: 0.9;
  position: fixed !important;
}