@import "module-variables";

// Overall module styles
@include overall_module() {


  #top-page-image-with-text {
    padding-top: 60px;
    padding-bottom: 85px;
    text-align: center;

    #firm-icon {
      width: 83px;
      margin: 0 auto 0 auto;
      svg {
        path, circle, polygon, rect {
          @include transition(700ms all);
        }
      }

    }
    p {
      color: #111;
    }

    svg:not(:root) {
      overflow: hidden;
      max-height: 90px;
      @include transition(700ms all);
    }
  }

}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');

  #top-page-image-with-text {
    p {
      font-size: get('fontSize');
      color: get('descriptionColor');
      padding-top: get('paragraphPadding');
    }
    #firm-icon {
      svg {
        path, polygon, circle, rect {
          fill: get('imageFillColor');
          stroke: get('imageColor');

        }
        &:hover {
          path, polygon, circle, rect {
            fill: get('imageFillColorHover');
            stroke: get('imageColorHover');
          }
        }
      }
    }
    $colorBackgroundHover: get('buttonBackgroundHoverColor');
    $opacity: get('buttonBackgroundHoverOpacity');

    .button {
      color: get('buttonTextColor');
      background-color: get('buttonBackgroundColor');
      font-size: get('buttonFontSize');
      &:hover {
        color: get('buttonTextColorHover');
        @if (type-of($colorBackgroundHover) == 'color' and type-of($opacity) == 'number') {
          background: rgba($colorBackgroundHover, $opacity);
        }
      }
    }
  }
}