@import "module-variables";

// Overall module styles
@include overall_module() {

  #top-page-image-with-text {
    padding-top: 60px;
    padding-bottom: 65px;
    text-align: center;

    #firm-icon {
      height: 95px;
      width: 83px;
      .st0 {
        fill: yellow;
      }
    }
    p {
      padding-top: 40px;
      color: #111;
    }
  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');

  #top-page-image-with-text {
    p {
      font-size: get('fontSize');
      color: get('descriptionColor');
    }
    #firm-icon {
      path, polygon, circle {
        fill: get('imageColor');
        stroke: get('imageColor');
        @include transition(300ms all);
      }
      &:hover {
        path, polygon, circle {
          fill: get('imageColorHover');
          stroke: get('imageColorHover');
        }
      }
    }
    .button-wrapper {
      $colorBackgroundHover: get('buttonBackgroundHoverColor');
      $opacity: get('buttonBackgroundHoverOpacity');
      .button {
        color: get('buttonTextColor');
        background-color: get('buttonBackgroundColor');
        font-size: get('buttonFontSize');
        &:hover {
          color: get('buttonTextColorHover');
          @if (type-of($colorBackgroundHover) == 'color' and type-of($opacity) == 'number') {
            background: rgba($colorBackgroundHover, $opacity);
          }
        }
      }
    }
  }
}