@import "module-variables";

// Overall module styles
@include overall_module() {
  $header-color: #002842;
  $read-more-color: #56C1A3;
  $paragraph_font_color: #002841;

  $article_info_color: #B3B3B3;
  $header-color: #002842;
  $learn-more-color: #55c2a2;
  $paragraph-color: #002841;

  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 65px;
  h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $header-color;
    font-size: 24px;
    font-weight: 700;
  }

  #search-top-header {
    color: black;
    font-weight: 500;
    padding-bottom: 15px;
    letter-spacing: 3px;
  }

  #read-more {
    text-decoration: none;
    color: $read-more-color;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 3px;
    font-size: 15px;
  }

  p {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 22px;
    color: $paragraph_font_color;
  }

  #page-results {
    padding-bottom: 120px;
  }

  #article-results {
    padding-top: 55px;
  }

  .single-article {
    text-align: center;
    //margin: 25px 15px 25px 15px;
    padding-top: 25px;
    padding-bottom: 25px;

    .article-icon {
      height: 105px;
      width: 90px;

    }
    .publication-info {
      text-align: left;
      font-family: 'Merriweather', serif;
      color: $article_info_color;
      padding-top: 25px;
      font-weight: 400;
    }

    h4 {
      text-transform: uppercase;
      letter-spacing: 3px;
      font-family: 'Roboto Condensed', sans-serif;
      color: $header-color;
      text-align: left;
      font-weight: 700;
      padding-top: 5px;
      line-height: 32px;
    }

    p {
      text-align: left;
      font-family: 'Merriweather', serif;
      line-height: 27px;
      color: $paragraph-color;
    }

    a {
      text-decoration: none;
      color: $learn-more-color;
      font-weight: 700;
      letter-spacing: 3px;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 16px;
    }
  }

  .tile-wrapper {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #article-container {
    padding-bottom: 30px;
  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  //background-color: get('color');
  #article-results {
    background-color: get('bottomBackground');
  }
  .single-article {
    background-color: get('bottomBackground');
  }
  #article-container {
    background-color: get('bottomBackground');
  }
  #page-result-background {
    background-color: get('topBackground');
  }
}