@import "module-variables";

$header-color: #1e2c32;
$circle-color: #1e2c32;
$line-color: #1e2c32;
$background-color: white;
$timeline-color: #56c1a3;

// Overall module styles
@include overall_module() {
  padding-top: 45px;
  padding-bottom: 45px;
  font-family: 'Roboto Condensed', serif;
  color: $line-color;
  background-color: white;

  .header {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    padding-bottom: 15px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 500;
  }
  .description {
    p {
      font-size: 14px;
      padding-bottom: 70px;
      font-family: 'Merriweather', serif;
      color: $header-color;
    }
  }

  .timeline {
    p {
      color: $line-color;
    }
    max-width: 100%;
    width:100%;
    color: $line-color;
    h4 {
      color: $header-color;
      font-weight: 500;
      letter-spacing: normal;
      text-transform: none;
      padding: 0 15px;
    }

    .days {
      list-style-type: none;
      margin: 0;
      padding: 0;

      .day {
        width: 100%;
        float: left;

        @include media-breakpoint-down(sm) {
          margin-left: 2%;
        }

        .events {
          position: relative;
          padding: 15px 30px;

          @include media-breakpoint-down(sm) {
            border-left: 4px solid;
            border-color: $timeline-color;
            border-right: none !important;
            width: 100% !important;
            text-align: left !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            h4 {

              &:after {
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                border: solid 3px white;
                border-radius: 50%;
                position: absolute;
                top: 18px;
                left: calc(-1% - 7px) !important;
                content: '';
                margin-right: 0 !important;
              }
            }

          }
          .button {
            margin: 10px 15px;
          }

        }
        &:nth-child(even) {
          .events {
            width: calc(50% + 1px);
            float: right;
            border-right: 0;
            border-left: 4px solid;
            text-align: left;
            margin-right: 3px;

            h4 {
              &:after {
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                border: solid 3px white;
                border-radius: 50%;
                @include position (absolute, 18px null null calc(-1% - 6px));
                content: '';
                @include media-breakpoint-between(md, lg) {
                  left: calc(-1% - 7px);
                }
                @include media-breakpoint-between(sm, md) {
                  left: calc(-1% - 7px);
                }
              }
            }

          }
        }

        &:nth-child(odd) {
          .events {
            width: 50%;
            float: left;
            border-right: 4px solid;
            text-align: right;
            h4 {
              &:after {
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                border: solid 3px white;
                border-radius: 50%;
                @include position (absolute, 18px null null calc(98% + 4px));
                content: '';
                @include media-breakpoint-between(md, lg) {
                  left: calc(98% + 2px);
                }
                @include media-breakpoint-between(sm, md) {
                  left: calc(98% - 1px);
                }
              }
            }
          }
        }

        &:last-child {
          .events {
            border-color: transparent !important;
            padding-top: 0;
            h4 {
              &:after {
                top: 0;
              }
            }
          }
        }

      }
    }
  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');

  .description {
    p {
      @if (get_deep('align', 'id') == 'left') {
        position: relative;
        left: 0;
        text-align: left !important;
      }
      @if (get_deep('align', 'id') == 'center') {
        left: 50%;
        position: relative;
        text-align: center ! important;
        @include media-breakpoint-down(sm) {
          left: 0;
        }
      }
      @if (get_deep('align', 'id') == 'right') {
        position: relative;
        left: 105%;
        text-align: right;
        @include media-breakpoint-down(sm) {
          left: 0;
        }
      }
    }
  }
  p{
    word-wrap: break-word;
  }
  .header {
    @if (get_deep('align', 'id') == 'left') {
      position: relative;
      left: 0;
      text-align: left !important;
    }
    @if (get_deep('align', 'id') == 'right') {
      h4 {
        position: relative;
        text-align: right;
      }
      @include media-breakpoint-down(sm) {
        left: 0;
        text-align: left ;
      }
    }
  }

  .header {
    h4{
      color: get('headerColor');
      font-size: get('headerSize');
    }
  }
  .description {
    p{
      font-size:get('descriptionSize');
      color:get('descriptionColor');
    }

  }
  .timeline {
    .days {
      .day {
        &:last-child {
          .events {
          }
        }
        .events {
          border-color: get('lineColor');
          .button {
            background-color: get('buttonColor');
            color: get('buttonTextColor');
            &:hover {
              background-color: get('buttonHoverColor');
              color: get('buttonHoverTextColor');
            }
          }
          h4 {
            font-size:get('timelineheaderSize');
            color:get('timelineheaderColor');
            &:after {
              background-color: get('dotColor');
              border-color:get('backgroundColor');
            }
          }
          p{
            font-size:get('timelineDescriptionSize');
            color:get('timelineDescriptionColor');
          }
        }
      }
    }
  }
}
