@import "module-variables";

// Overall module styles
@include overall_module() {
  font-family: 'Merriweather', serif;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all .5s ease-in-out;
  overflow: hidden;

  h4 {
    padding-bottom: 20px;
  }
  p {
    line-height: 24px;
  }

  .video-container {

   iframe {
     width:100%;
     height:360px;
     @include media-breakpoint-down(xl) {
       height: 360px;
     }
     @include media-breakpoint-down(lg) {
       height: 300px;
     }
     @include media-breakpoint-down(md) {
       height: 390px;
     }
   }

    @include media-breakpoint-down(md){
      order: 2;
    }

    @include media-breakpoint-down(sm) {
      order: 2;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0; overflow: hidden;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

  }

  .text-container {
    @include media-breakpoint-down(md) {
      padding: 0 0 20px 0;
    }
    .share-icons {

      margin-top: 15px;
      .share-button {
        position: absolute;
        left: 50px;
        top: 0;
      }
      svg {
        height: 30px;
        width: 30px;
      }
      img {
        height: 30px;
        width: 30px;
      }
      &:hover {
        //cursor: pointer;
      }

      .toggle-icons {
        margin-top: 9px;
        cursor: pointer;
      }
    }
    .icons {
      opacity: 0;
      height: 0;
      transition: all .5s ease-in-out;
      margin-bottom: 0;
      padding-left: 0;
      @include media-breakpoint-down(xs) {
        margin-bottom: 0;
      }

      &:active {
        .btn-floating {
          //cursor: pointer;
        }
      }
      ul {
        text-align: left;
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
        display: flex;
        padding-left: 0;
        @include media-breakpoint-down(sm) {
          padding-left: 15px;
        }

        li {
          margin: 15px 0 5px 0;
          width: 50px;
          list-style-type: none;

        }
      }
      .icon {
        background-color: #39a4f9;
        width: 48px;
        height: 48px;
        margin-right: -4px;
        transition: all 0.3s ease-in-out;
        display: none;
        cursor: pointer;
        &:hover {
          background-color: #2893e8;
        }
        img {
          width: 48px;
          height: 48px;
        }
      }
    }
  }

  .active-share-icons {
    opacity: 1 !important;
    transition: all .5s ease-in-out;
    margin-bottom: 36px!important;
    .icon {
      display: block !important;
    }
  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  h4 {
    color: get('titleColor');
    font-size: get('titleFontSize');
  }
  p {
    color: get('paragraphColor');
    font-size: get('paragraphFontSize');
  }
  .share-icons {
    .share-button {
      color: get('buttonColor')
    }
  }
}