@import "module-variables";

// Overall module styles
@include overall_module() {
  $header_second_color: #55C2A2;
  $background-color: #002841;
  $button_background_color: #56C1A3;
  $button-font-color: #002841;

  //triangle sizes
  //mobile
  $shape-image-width-m: 195px;
  $shape-image-height-m: 170px;

  //destkop
  $shape-image-width: 415px;
  $shape-image-height: 361px;

  background-color: $background-color;
  overflow: hidden;

  .header-container {
    position: relative;

    .bottom-shape {
      width: 190px;
      height: 92px;
      text-align: center;
      z-index: 4;
      @include position(absolute, null 20px 0 null);
      svg {
        height: 92px;
      }
      @include media-breakpoint-up(lg) {
        width: 415px;
      }
    }
    .text-content {
      @include padding (null null 115px);

      @include media-breakpoint-up(lg) {
        @include padding (86px null 121px);
      }

      p {
        color: white;
        padding-bottom: 17px;
        line-height: 27px;
      }

      .header-second-color {
        color: $header_second_color;
      }

      .learn-more-button {
        padding: 11.5px 43px;
        background-color: $button_background_color;
        //border: none;
        display: inline-block;
        margin-bottom: 15px;
        color: $button-font-color;
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 3px;
        text-decoration: none;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        transition: 0.5s all;
        border: 1px solid $button_background_color;
        &:hover {
          background: rgba(255, 255, 255, 0.14);
          color: white;
          border-color: white;
        }
      }

    }

    .shape {
      overflow: hidden;
      padding-top: $shape-image-height-m;
      @include media-breakpoint-up(lg) {
        padding-top: $shape-image-height;
      }
      @include media-breakpoint-down(md) {
        height: 200px;
      }

      .shape-image {
        @include size ($shape-image-width-m $shape-image-height-m);
        overflow: hidden;
        @include position(absolute, 0 20px null null);
        @include media-breakpoint-up(lg) {
          @include size (415px 450px);
          box-shadow: 0px 0px 0px 20px $background-color;
        }

        .image-punch {
          //width: 416px;
          //height: 363px;
          height: 235px;
          width: 385px;
          //@include size ($shape-image-width-m+1px $shape-image-height-m+1px);
          @include position (absolute, 0 0 0 -92px);
          z-index: 2;
          fill: $background-color;
          @include media-breakpoint-up(lg) {
            @include size (600px 500px);
          }
        }

        .parallax-window {
          width: 100%;
          min-height: $shape-image-height-m;
          background: transparent;
          z-index: 1;
          overflow: hidden;
          position: relative;
          @include media-breakpoint-up(lg) {
            min-height: $shape-image-height;
          }
        }
      }

      .parallax-mask-fix {
        background-color: $background-color;
        width: 100%;
        position: absolute;
        z-index: 3;
        min-height: 200px;
      }
    }
  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');
  #home-banner {
    background-color: get('backgroundColor');
    h2 {
      font-size: get('titleSize');
      color: get('titleColor');
      #header-second-color {
        color: get('titleInnerColor');

      }
    }
    p {
      font-size: get('descriptionSize');
      color: get('descriptionColor');
    }

  }
}