@import "module-variables";

// Overall module styles
@include overall_module() {
  $header-banner-color: #002841;
  background: url($template-url + '/assets/images/background-banner-x.png') no-repeat;
  background-size: cover;
  @include media-breakpoint-up(sm) {
    background-position-x: 72%;
    background-size: contain;
    min-height: 328px;

  }

  .header-banner {
    padding-top: 90px;
    padding-bottom: 39px;

    p {
      color: #fff;
    }

    .buttons {
      padding-top: 17px;
      .header-button {
        margin-right: 5px;
      }
    }
  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');

  .header-banner {
    h2 {
      color: get('headerColor');
      font-size: get('headerSize');
    }
    .buttons {
      .button {
        background-color: get('buttonColor');
        color: get('buttonTextColor');
        &:hover {
          background-color: get('buttonHoverColor');
          color: get('buttonHoverTextColor');
        }
      }
    }
  }
}