@import "module-variables";

// Overall module styles
@include overall_module() {
    $header-banner-color: #002841;

    #header-banner {
        background-color: $header-banner-color;
        color: white;
        padding-top: 90px;
        padding-bottom: 39px;
    }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
    background-color: get('backgroundColor');
}