@import "module-variables";

// Overall module styles
@include overall_module()
{
    $font_white_color: #f0f2f4;
    $get_in_touch_color: #002841;

    #get-in-touch {
        font-family: 'Roboto Condensed', sans-serif;
        height: 97px;
        background-color: $get_in_touch_color;
        color: $font_white_color;
        font-size: 30px;
        text-align: center;
        padding-top: 25px;
    }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
    //background-color: get('color');
}