@import "module-variables";

// Overall module styles
@include overall_module() {
    $font_white_color: #f0f2f4;
    $get_in_touch_color: #002841;

    .get-in-touch {

        color: $font_white_color;
        text-align: center;

        a {
            font-size: 30px;
            @include transition(0.5s all);
            &:hover {
                text-decoration: none;
            }
        }
        h3 {
            line-height: 97px;
            font-size: 30px;
        }
    }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
    background-color: get('backgroundColor');
    .get-in-touch a {
        color: get('titleColor');
        font-size: get('titleSize');
    }
}