@import "module-variables";

// Overall module styles
@include overall_module() {
  $header-color: #002842;

  #three-column-boxes {
    padding-top: 69px;
    text-align: center;
    padding-bottom: 90px;
    @include media-breakpoint-down(md) {
      padding-top: 60px;
      padding-bottom: 10px;
    }

    .svg-wrapper {
      //max-width: 160px;
      width: auto;
      margin: 0 auto;

      @include transition(0.3s all);
      svg {
        max-height: 110px;
        max-width: 100%;
        @include media-breakpoint-down(md) {
          max-height: 160px;
        }
        @include transition(0.3s all);
        path, polygon, circle {
          fill: #56C1A3;
          @include transition(0.3s all);
        }
        //.st0{
        //  fill:#EBEBEB;
        //}

      }
      &:hover svg {
        path, polygon, circle {
          fill: #56C1A3;
        }

      }
      img {
        max-height: 110px;
        height: auto;
        width: auto;
        @include media-breakpoint-down(md) {
          max-height: 160px;
        }
      }
    }

    h4 {
      text-transform: uppercase;
      font-size: 25px;
      font-family: 'Roboto Condensed', sans-serif;
      color: $header-color;
      letter-spacing: 5px;

    }

    p {
      font-family: 'Merriweather', serif;
      font-size: 14px;
    }
    a {
      font-size: 16px;
    }

    .title-header {
      font-family: 'Merriweather', serif;
      color: #182328;
      background-color: white;
      min-height: 160px;
      //padding-top: 34px;
      padding-bottom: 45px;
      text-align: center;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
    .description-header {
      text-transform: uppercase;
      font-size: 25px;
      font-family: 'Roboto Condensed', sans-serif;
      color: #002842;
      letter-spacing: 5px;
    }
  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');
  #three-column-boxes {
    .description-header {
      font-size: get('titleSize');
      color: get('titleColor');
    }
    .title-header {
      font-size: get('titleSize');
      color: get('titleColor');
      background-color: get('backgroundColor');
      }
      .svg-wrapper {
        svg {
          path, polygon, circle {
            fill: get('sectionIconColor');
            stroke: get('sectionIconColor');
          }
        }
        &:hover svg {
          path, polygon, circle {
            fill: get('sectionIconColorHover');
            stroke: get('sectionIconColorHover');
          }
        }
      }

      .md-padd-top {
        p {
          font-size: get('singleParagraphFontSize');
          color: get('singleParagraphColor');
        }
      }
      .sub-header {

        font-size: get('sectionTitleSize');
        color: get('sectionTitleColor');
      }
      .button {
        color: get('buttonTextColor');
        background-color: get('buttonBackgroundColor');
        font-size: get('buttonFontSize');
        &:hover {
          color: get('buttonTextHoverColor');
          background-color: get('buttonBackgroundHoverColor');
        }
      }
    }
  }