$header-color: #1e2c32;

#firm_partnership {
  text-align: left;
  padding-top: 55px;
  padding-bottom: 90px;
  h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    color: $header-color;
  }

  p {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    padding-bottom: 80px;
    color: black;
  }

  #top-image-row {
    padding-bottom: 45px;
    text-align: center;
  }

  #bottom-image-row {
    text-align: center;
  }
}