$header-color: #1e2c32;

#in-the-media {
  text-align: center;
  padding-top: 10px;
  h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    color: $header-color;
    padding-bottom: 40px;
  }

  #media1 {
    width: 208px;
    height: 44px;
  }
  #media2 {
    width: 186px;
    height: 36px;
  }
  #media3 {
    width: 142px;
    height: 47px;
  }
  #media4 {
    width: 160px;
    height: 56px;
  }

}

.media-image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.6;
  height: 40px;
  width: 189px;
}

.image-container {
}