$text_banner_color: #182328;

.large-text-banner  {
  font-size: 23px;
  font-family: 'Merriweather', serif;
  color: $text_banner_color;
  text-align: center;
  background-color: white;
  height: 160px;
  padding-top: 25px;
}