$top-menu-header-color: rgb(0, 40, 65);
$learn-more-color: #56C1A3;

nav {
  #top-menu-items {
    img {
      width: 20px;
      height: 20px;
    }
  }
  ul{
    li{
      a{
        font-size: 14px;
        color: black;
        font-weight: 600;
        font-family: 'Roboto Condensed', sans-serif;
        margin-right: 30px;
      }
    }
  }
}

#top-menu  {
  padding-bottom: 30px;
  padding-top: 30px;
}

#about-sub-menu{
  opacity: 0.949;
  font-size: 14px;
  font-family: 'Merriweather', serif;
  background-color: white;
  padding-top: 30px;
  h4{
    font-size: 18px;
    font-style: italic;
    color: $top-menu-header-color;
  }
  a{
    text-decoration: none;
    color: $learn-more-color;
    padding-bottom: 35px;
    display: block;
  }
}

.noDisplay  {
  display: none;
}

#search-icon{
  width: 17px;
  height: 17px;
  margin-top: 7px;
}
