$background-color: #F4F4F4;

#top-page-image-with-text {
  background-color: $background-color;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
  #firm-icon {
    height: 84px;
    width: 51px;
  }
  p {
    padding-top: 40px;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color: black;
    line-height: 22px;
  }
}