@import "module-variables";

// Overall module styles
@include overall_module() {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    .relative {
      position: relative;
    }
    .main-description {
      padding-bottom: 25px;
    }
    .title {
      font-size: 42px;
      color: #a4a9ab;
      margin-bottom: 15px;
      letter-spacing: 4px;
      font-weight: 300;
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

    }

    .description {
      font-family: "Merriweather", serif;
      font-size: 14px;
      color: #000;
      text-align: left;

    }
    .nav-tabs {
      border-bottom: none;
    }

    .nav-link {
      text-align: center;
      margin: 0 auto 15px;
      font-style: italic;
      font-size: 18px;
      font-family: "Merriweather Italic", serif;
      color: #002841;
      cursor: pointer;
      line-height: 1.333;
      padding: 30px;
      border: 1px solid #a4a9ab;
      @include media-breakpoint-down(sm){
        max-width: 100%;
        width:300px;
        margin: 15px auto;
      }


      @include transform(matrix(1.00006491745936, 0, 0, 1.00013173494928, 0, 0));
      span {
        font-style: normal;
        display: block;
        font-size: 14px;
        font-family: "Merriweather Light";
        color: #000;
        line-height: 1.714;
        @include transform(matrix(1.00006491745936, 0, 0, 1.00013173494928, 0, 0));
        &:before {
          content: "";
          width: 55px;
          height: 2px;
          background: #a4a9ab;
          display: block;
          margin: 0 auto;
          margin-top: 2px;
        }

      }

      &.active {
        padding-bottom: 20px;
        margin-bottom: 0px;
        border-bottom: none;
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid #002841;
          position: absolute;
          bottom: 0;
          left: 50%;
          @include transform(translateX(-20px));
        }
      }

    }

    .team-member {
      align-self: flex-end;
      position: static;

      .tab-team-panel {
        line-height: 1.714;
        text-align: left;
        padding: 43px 23px 27px 23px;
        color: #fff;
        background-color: #002841;
        display: none;
        &.active {
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
        }
        img {
          max-width: 100%;
          width: 100%;
          display: block;
          height: auto;
        }
      }

    }
    .quote {
      color: #56c2a3;
      font-size: 18px;
      font-family: "Merriweather Light";
      font-style: italic;
      margin-bottom: 38px;
    }
    .tab-team-panel {
      position: relative;
      @include transition(300ms all);
    }
  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');

  .container {
    .title {
      font-size: get('titleSize');
      color: get('titleColor');
    }
    .description {
      font-size: get('descriptionUnderTitleSize');
      color: get('descriptionUnderTitleColor');
    }
    .nav-link {
      color: get('teamTitleColor');
      font-size: get('teamTitleSize');
      span {
        color: get('jobTitleColor');
        font-size: get('jobTitleSize');
      }

    }
    .tab-team-panel {
      color: get('innerDescriptionColor');
      font-size: get('innerDescriptionSize');
      background-color: get('tabBackgroundColor');
      .quote {
        font-size: get('quoteSize');
        color: get('quoteColor');
      }
    }
  }

}