@import "module-variables";

// Overall module styles
@include overall_module() {

  $paragraph-color: #002841;
  $article_info_color: #B3B3B3;
  $header-color: #002842;
  $learn-more-color: #55c2a2;

  .article-boxes {
    padding-top: 20px;
    padding-bottom: 30px;
    .single-article {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 10px;

      .article-icon {
        height: 105px;
        width: 90px;
      }
      .publication-info {
        text-align: left;
        font-family: 'Merriweather', serif;
        color: $article_info_color;
        padding-top: 25px;
        font-weight: 400;
      }

      h4 {
        letter-spacing: 3px;
        color: $header-color;
        text-align: left;
        font-weight: 700;
        padding-top: 5px;
        line-height: 32px;
      }

      p {
        text-align: left;
        line-height: 27px;
        color: $paragraph-color;
        margin-bottom: 7px;
      }

      a {
        text-decoration: none;
        color: $learn-more-color;
        font-weight: 700;
        letter-spacing: 3px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
      }
    }

    .tile-wrapper {
      background-color: white;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');
  #insights-boxes-container {
    background-color:  get('backgroundColor');
  }
  .article-boxes{
    .single-article{
      background-color:  get('backgroundColor');
    }
  }
}