@import "module-variables";

// Overall module styles
@include overall_module() {
  .sub-menu-flex {
    top:105px;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 33px;
      position: absolute;
      top: -33px;
      left: 0;
    }
  }
}


// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  //background-color: get('color');
  .sub-menu-flex {
    background-color: rgba(get('background'), get('backgroundOpacity'));
    @if(get('isImage') == 1){
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    li {
      .menu-special-hover {
        h4 {
          font-size: get('boxTitleSize');
          color: get('boxTitleColor');
        }
        p {
          font-size: get('boxDescriptionSize');
          color: get('boxDescriptionColor');
        }
        a {
          font-size: get('boxDescriptionSize');
          color: get('boxButtonColor');
          padding-left: 0;
          &:hover {
            color: get('boxButtonColorHover');
          }
        }
      }
    }
  }
}