@import "module-variables";

// Overall module styles
@include overall_module() {

  $send-button-color: #56C1A3;
  $send-button-text-color: #002842;
  $primary-theme-color: #002842;
  $placeholder-color: #919191;
  $header-color: #1e2c32;
.flip-container,.front,.back{
  height:700px;
}
.front,.back{
  width:100%;
}
  .flip-container {
    @include perspective(1000px);
    @include backface-visibility(hidden);
    @include transform-style(preserve-3d);
    position: relative;
    z-index: 1;
    //&:hover {
    //  .flipper {
    //    @include transform(rotateY(180deg));
    //  }
    //}
    &.hover {
      .flipper {
        @include transform(rotateY(180deg));
      }
    }
    .flipper{
      backface-visibility: hidden;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
      @include perspective(1000px);
      @include backface-visibility(hidden);
      @include transition(0.6s);
      .front{
        @include transition(0.6s);
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        @include perspective(1000px);
        @include backface-visibility(hidden);
      }
      .back{
        background: $primary-theme-color;
          transform: rotateY(180deg);
        position: absolute;
        top: 0;
        left: 0;
        @include perspective(1000px);
        @include backface-visibility(hidden);
        @include transition(0.6s);
      }
    }

  }

  #contact-form {
    padding-top: 60px;
    padding-bottom: 25px;
    .small-input {
      height: 46px;
      font-family: 'Merriweather', serif;
      font-size: 14px;
    }
    //

    //

    #message {
      height: 164px;
      font-family: 'Merriweather', serif;
      font-size: 14px;
      line-height: normal;
      resize: none;
    }

    #submit-button {
      width: 147px;
      height: 48px;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 16px;
      letter-spacing: 3px;
      background-color: $send-button-color;
      border: none;
      color: $send-button-text-color;
      margin-left: 4px;
      font-weight: 600;
      margin-top: 11px;
      margin-bottom: 23px;
    }

    p {
      font-size: 12px;
      font-family: 'Merriweather', serif;
      color: black;
      line-height: 22px;
    }

    ::-webkit-input-placeholder {
      color: $placeholder-color;
    }
    :-moz-placeholder {
      color: $placeholder-color;

    }
    ::-moz-placeholder {
      color: $placeholder-color;

    }
    :-ms-input-placeholder {
      color: $placeholder-color;

    }

  }

  #contacts {
    padding-top: 60px;
    h4 {
      color: $header-color;
      text-transform: uppercase;
      font-size: 25px;
      font-family: 'Roboto Condensed', sans-serif;
      letter-spacing: 5px;
      font-weight: 400;
      padding-bottom: 30px;
    }

    h5 {
      color: black;
      font-family: 'Merriweather', serif;
      font-weight: bold;
      font-size: 17px;
    }

    span, p {
      font-size: 14px;
      font-family: 'Merriweather', serif;
      color: black;
    }

    .padding-bottom {
      padding-bottom: 30px;
    }
  }

}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');
}