$primary-theme-color:#002841;
$large-header-height:275px;
$large-header-content-padd:84px 15px;
$large-header-text-color:white;
$font-family:'Roboto Condensed', sans-serif;
$h1-size:54px;
$p-size:14px;
$highlight:#56c2a3;
.search-results{
  .large-header{
    font-family: $font-family;
    background: $primary-theme-color;
    color:$large-header-text-color;
    position: relative;
    &:before{
      content: "";
      display: block;
      position: absolute;
      top:0;
      left:0;
      width:100%;
      opacity: 0.9;
      height:100%;
    }
    .large-header-inner{
      //min-height: $large-header-height;
      .large-header-content{
        align-self: center;
        padding: $large-header-content-padd;
        h1{
          display: block;
          font-size: $h1-size;
          text-transform: uppercase;
          margin-bottom: 30px;
        }
        p{
          font-size: $p-size;
          line-height: 140%;
          strong{
            color:$highlight;
            font-weight:bold;
          }
        }
      }

    }
  }

  .search-results-content{
    //.search-highlight{
    //  color:$highlight;
    //}
    font-family:$font-family;
    padding-top: 70px;
      .title{
        h2{
          font-size:25px;
          font-weight:normal;
          color:$primary-theme-color;
        }

      }

    .page-post-results{
      .all-results{
        padding-top: 35px;
        padding-bottom: 65px;

        .single-result{
          padding-bottom: 45px;
          h4{
            font-size:24px;
            font-weight:bold;
            color:$primary-theme-color;
            margin-bottom: 20px;
          }
          p{
            margin: 0;
            font-size:14px;
            font-family: Merriweather, serif;
            font-weight:300;
          }
          a{
            cursor: pointer;
            color:$highlight;
            font-family: $font-family;
            font-weight:bold;
            font-size:16px;
          }
        }
      }
    }

    .articles-results{
      background: #ececec;
      padding-top: 60px;
      padding-bottom: 60px;
      h2{
        color:#1e2c32;
        margin-bottom: 35px;
      }
      .single-result{
        margin-bottom: 10px;
        .single-background{
          background: white;
          padding: 15px;
        }
        .image {
          svg{
            height: 100px;
            width:auto;
            display: block;
            margin: 0 auto;
          }
          padding: 15px;
        }
        .author{
          color:#ababab;
          font-size: 15px;
          margin-bottom: 15px;
        }
        h4{
          color: $primary-theme-color;
          font-size: 25px;
          margin-bottom: 15px;
          text-transform: uppercase;
          font-weight:bold;
        }
        p{
            font-size:14px;
          line-height:200%;
          color: $primary-theme-color;
        }
        .see_more{
          a{
            cursor: pointer;
            color:$highlight;
            font-family: $font-family;
            font-weight:bold;
            font-size:16px;
            letter-spacing:2px;
          }
        }
      }
    }
  }


}
.pagePagination{
  .pagination-wrapper{
    margin: 25px 0;
  }
  .page-numbers{
    &.current{
      color: $highlight;
      font-size: 18px;
      padding:5px;}
  }
  a{
    color:$primary-theme-color;
    font-size: 18px;
    padding:5px;
    &:hover{
      color: $highlight;
    }
  }
}
