.task-number {
  position: absolute;
  font-size: 10px;
  background-color: #fff;
  color: #000;
  right: 5px;
  z-index: 1;
}
p {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 27px;
}
h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 54px;
  line-height: 64px;
  color: white;
  padding-bottom: 5px;
}
h4 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}