@import "module-variables";

// Overall module styles
@include overall_module() {
  p{
    word-wrap: break-word;
  }
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    .top{
      padding-bottom: 25px;
    }
    .title {
      font-family: "Roboto Condensed", serif;
      font-size: 25px;
      color: #1E2C32;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 25px;

    }

    .description {
      font-size: 14px;
      color: #000;
      text-align: left;
      width:100%;
      overflow: hidden;
      height:auto;
      p{
        font-family: "Merriweather", serif;
        line-height: 140%;
      }
    }
    .nav-tabs {
      border-bottom: none;
    }

    .nav-link {
      border: none;
      text-align: center;
      font-style: italic;
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 18px;
      font-family: "Merriweather Italic", serif;
      color: #002841;
      line-height: 1.333;
      -moz-transform: matrix(1.00006491745936, 0, 0, 1.00013173494928, 0, 0);
      -webkit-transform: matrix(1.00006491745936, 0, 0, 1.00013173494928, 0, 0);
      -ms-transform: matrix(1.00006491745936, 0, 0, 1.00013173494928, 0, 0);

      span {
        font-style: normal;
        display: block;
        font-size: 14px;
        font-family: "Merriweather Light";
        color: #000;
        line-height: 1.714;
        -moz-transform: matrix(1.00006491745936, 0, 0, 1.00013173494928, 0, 0);
        -webkit-transform: matrix(1.00006491745936, 0, 0, 1.00013173494928, 0, 0);
        -ms-transform: matrix(1.00006491745936, 0, 0, 1.00013173494928, 0, 0);

      }

      &.active {
        background-color: transparent;
        border: none;
        padding-bottom: 18px;
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid #002841;
          animation: fadein 1.5s;
          -moz-animation: fadein 1.5s; /* Firefox */
          -webkit-animation: fadein 1.5s; /* Safari and Chrome */
          -o-animation: fadein 1.5s; /* Opera */
          @keyframes fadein {
            from {
              opacity:0;
            }
            to {
              opacity:1;
            }
          }
          @-moz-keyframes fadein { /* Firefox */
            from {
              opacity:0;
            }
            to {
              opacity:1;
            }
          }
          @-webkit-keyframes fadein { /* Safari and Chrome */
            from {
              opacity:0;
            }
            to {
              opacity:1;
            }
          }
          @-o-keyframes fadein { /* Opera */
            from {
              opacity:0;
            }
            to {
              opacity: 1;
            }
          }
          @include transform(translateX(-20px));
          @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 0;
            left: 50%;

          }
        }
      }
      &:hover {
        border-color: transparent;
      }

    }

    .tab-content {
      font-size: 14px;
      p{
        font-family: "Merriweather Light", serif;
      }
      .tab-pane {
        line-height: 1.714;
        text-align: left;
        padding: 43px 23px 27px 23px;
        color: #fff;
        background-color: #002841;

        @include media-breakpoint-down(sm) {
          margin-left: -15px;
          margin-right: -15px;
        }
        img{
          max-width: 100%;
          margin: auto;
          display: block;
          height:auto;
          max-height: 260px;

          @include media-breakpoint-down(md) {
            margin-bottom: 10px;
          }
        }
        .column {
          margin-top: 20px;
          @include media-breakpoint-up(lg) {
            margin-top: 0;

          }
        }
      }

      .quote {

        color: #56c2a3;
        font-size: 18px;
        font-family: "Merriweather Light", serif;
        font-style: italic;
        margin-bottom: 38px;
      }
      .tab-pane {
        position: relative;
        @include transition(300ms all);
      }
    }
  }
}

// Styles for unique page/post module.
// In this scope you can use special functions to get data from pageboxes:
// - get( key )
// - get_deep( keys... )
@include specified_module_loop() {
  background-color: get('backgroundColor');
  $floutVisible : get('flyoutVisible');
  .container {
    .title {
      font-size: get('titleSize');
      color: get('titleColor');
    }
    .description {
      font-size: get('descriptionUnderTitleSize');
      color: get('descriptionUnderTitleColor');
      p{
        font-size: get('descriptionUnderTitleSize');
        color: get('descriptionUnderTitleColor');
      }
    }
    .nav-link {
      color: get('teamTitleColor');
      font-size: get('teamTitleSize');
      @if ($floutVisible == null) {
        padding-bottom: 50px;
      }
      span {
        color: get('jobTitleColor');
        font-size: get('jobTitleSize');

        }
      &.active {
        @if ($floutVisible == null) {
          padding-bottom: 50px;
        }
        &:after {
          border-bottom: 20px solid get('tabBackgroundColor');
          @if ($floutVisible == null) {
            display: none;
          }
        }
      }
      }

    .tab-pane {
      color: get('innerDescriptionColor');
      font-size: get('innerDescriptionSize');
      background-color: get('tabBackgroundColor');
      p{
        color: get('innerDescriptionColor');
        font-size: get('innerDescriptionSize');
      }
      .quote p{
        font-size: get('quoteSize');
        color: get('quoteColor');
      }
    }
  }

}